#plane{
  box-shadow:4px 6px 10px #222;
  border-radius: 20px 20px 20px 20px;
  border: 6px solid #000000;
  margin-top: 15%;
  margin-bottom: 15%;
}

#bbdd{
  box-shadow:4px 6px 10px #222;
  border-radius: 20px 20px 20px 20px;
  border: 6px solid #000000;

}
.banner{
  background: url(../img/gris-banner.jpg) repeat center center;
}
